## Metin Madenciligi ve Dogal Dil isleme

### Metin On Isleme

In [1]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

### string'i df/array/seriye Ã§evirmek

####  yukaridaki ifadeyi vectore cevirmeyi istiyoruz

In [2]:
## hepsi ayri bir hikaye onlari bolmemiz gerekiyor.
metin.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [3]:
metin.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [4]:
v_metin = metin.split("\n")

In [5]:
# vectorlestirmek istiyoruz
import pandas as pd
v =pd.Series(v_metin)

In [6]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [7]:
metin_vectoru = v[1:len(v)]

In [8]:

metin_vectoru

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [9]:
# df me ceviriyoruz.
mdf =pd.DataFrame(metin_vectoru,columns = ["legendry"])

In [10]:
mdf

                                 legendry
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

### Upper lewer case

In [11]:
d_mdf = mdf.copy()

In [12]:
d_mdf

                                 legendry
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [13]:
list1 = [1,2,3]

In [14]:
str1 = "".join(str(i) for i in list1)

In [15]:
str1

'123'

In [16]:
d_mf =d_mdf["legendry"].apply(lambda x: " ".join(x.lower()))

In [17]:
d_mf

1       a   s c a n d a l   i n   b o h e m i a !   0 1
2         t h e   r e d - h e a d e d   l e a g u e , 2
3           a   c a s e ,   o f   i d e n t i t y   3 3
4     t h e   b o s c o m b e   v a l l e y   m y s ...
5             t h e   f i v e   o r a n g e   p i p s 1
6     t h e   m a n   w i t h ?   t h e   t w i s t ...
7     t h e   a d v e n t u r e   o f   t h e   b l ...
8     t h e   a d v e n t u r e   o f   t h e   s p ...
9     t h e   a d v e n t u r e   o f   t h e   e n ...
10    t h e   a d v e n t u r e   o f   t h e   n o ...
11    t h e   a d v e n t u r e   o f   t h e   b e ...
12    t h e   a d v e n t u r e   o f   t h e   c o ...
Name: legendry, dtype: object

In [18]:
d_mf= d_mdf["legendry"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [19]:
d_mdf

                                 legendry
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

## Noktalama isaretlerinin silinmesi

In [20]:
d_mdf

                                 legendry
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [21]:
type(d_mdf)

pandas.core.frame.DataFrame

In [22]:
d_mdf = pd.DataFrame(d_mdf,columns = ["legendry"])

In [23]:
d_mdf = d_mdf["legendry"].str.replace("[^\w\s]","")

In [24]:
d_mdf

1                  A Scandal in Bohemia 01
2                    The Redheaded League2
3                    A Case of Identity 33
4             The Boscombe Valley Mystery4
5                    The Five Orange Pips1
6             The Man with the Twisted Lip
7      The Adventure of the Blue Carbuncle
8       The Adventure of the Speckled Band
9     The Adventure of the Engineers Thumb
10     The Adventure of the Noble Bachelor
11      The Adventure of the Beryl Coronet
12     The Adventure of the Copper Beeches
Name: legendry, dtype: object

## Sayilarin silinmesi

In [25]:

d_mdf = d_mdf.str.replace("\d","")

In [26]:
d_mdf

1                    A Scandal in Bohemia
2                     The Redheaded League
3                      A Case of Identity
4              The Boscombe Valley Mystery
5                     The Five Orange Pips
6             The Man with the Twisted Lip
7      The Adventure of the Blue Carbuncle
8       The Adventure of the Speckled Band
9     The Adventure of the Engineers Thumb
10     The Adventure of the Noble Bachelor
11      The Adventure of the Beryl Coronet
12     The Adventure of the Copper Beeches
Name: legendry, dtype: object

In [27]:
d_mdf =pd.Series(d_mdf)

In [28]:
type(d_mdf)

pandas.core.series.Series

## Stoppwords

In [29]:
d_mdf = pd.DataFrame(d_mdf,columns = ["legendry"])

In [30]:
!pip install nltk

Requirement already satisfied: nltk in c:\anaconda\lib\site-packages (3.5)
Requirement already satisfied: joblib in c:\anaconda\lib\site-packages (from nltk) (0.17.0)
Requirement already satisfied: regex in c:\anaconda\lib\site-packages (from nltk) (2020.10.15)
Requirement already satisfied: click in c:\anaconda\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in c:\anaconda\lib\site-packages (from nltk) (4.50.2)

In [31]:
import nltk

In [32]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\aozde\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [33]:
from nltk.corpus import stopwords

In [34]:
sw =stopwords.words("english")

In [ ]:
sw

In [36]:
d_mdf["legendry"].apply(lambda x: " ".join(x for x  in x.split() if x not in sw))

1                 A Scandal Bohemia
2              The Redheaded League
3                   A Case Identity
4       The Boscombe Valley Mystery
5              The Five Orange Pips
6               The Man Twisted Lip
7      The Adventure Blue Carbuncle
8       The Adventure Speckled Band
9     The Adventure Engineers Thumb
10     The Adventure Noble Bachelor
11      The Adventure Beryl Coronet
12     The Adventure Copper Beeches
Name: legendry, dtype: object

In [37]:
d_dfm = d_mdf["legendry"].apply(lambda x: " ".join(x for x  in x.split() if x not in sw))

In [38]:
d_dfm

1                 A Scandal Bohemia
2              The Redheaded League
3                   A Case Identity
4       The Boscombe Valley Mystery
5              The Five Orange Pips
6               The Man Twisted Lip
7      The Adventure Blue Carbuncle
8       The Adventure Speckled Band
9     The Adventure Engineers Thumb
10     The Adventure Noble Bachelor
11      The Adventure Beryl Coronet
12     The Adventure Copper Beeches
Name: legendry, dtype: object

## Az gecen kelimelerin silinmesi

In [39]:
type(d_mdf)

pandas.core.frame.DataFrame

In [40]:
pd.Series(" ".join(d_mdf["legendry"]).split()).value_counts()

The          10
of            7
the           7
Adventure     6
A             2
Speckled      1
Redheaded     1
Scandal       1
Identity      1
Carbuncle     1
Orange        1
Thumb         1
Boscombe      1
Case          1
Blue          1
Mystery       1
Bachelor      1
Pips          1
Band          1
Copper        1
Valley        1
Engineers     1
Beeches       1
Coronet       1
in            1
League        1
Noble         1
Twisted       1
Man           1
Bohemia       1
Beryl         1
Five          1
with          1
Lip           1
dtype: int64

In [41]:
pd.Series(" ".join(d_mdf["legendry"]).split()).value_counts()[-3:]

Five    1
with    1
Lip     1
dtype: int64

In [42]:
delete = pd.Series(" ".join(d_mdf["legendry"]).split()).value_counts()[-3:]

In [43]:
delete

Five    1
with    1
Lip     1
dtype: int64

In [44]:
d_dfm = d_mdf["legendry"].apply(lambda x: " ".join(x for x  in x.split() if x not in delete))

In [45]:
d_dfm

1                     A Scandal in Bohemia
2                     The Redheaded League
3                       A Case of Identity
4              The Boscombe Valley Mystery
5                          The Orange Pips
6                      The Man the Twisted
7      The Adventure of the Blue Carbuncle
8       The Adventure of the Speckled Band
9     The Adventure of the Engineers Thumb
10     The Adventure of the Noble Bachelor
11      The Adventure of the Beryl Coronet
12     The Adventure of the Copper Beeches
Name: legendry, dtype: object

## Tokennization

In [46]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\aozde\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [47]:
!pip install textblob

Requirement already satisfied: textblob in c:\anaconda\lib\site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in c:\anaconda\lib\site-packages (from textblob) (3.5)
Requirement already satisfied: tqdm in c:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (4.50.2)
Requirement already satisfied: click in c:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: joblib in c:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (0.17.0)
Requirement already satisfied: regex in c:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (2020.10.15)

In [48]:
import textblob

In [49]:
from textblob import TextBlob

In [50]:
TextBlob(d_mdf["legendry"][1])

TextBlob("A Scandal in Bohemia ")

In [51]:
TextBlob(d_mdf["legendry"][1]).words

WordList(['A', 'Scandal', 'in', 'Bohemia'])

In [52]:
d_mdf["legendry"].apply(lambda x : TextBlob(x).words)

1                       [A, Scandal, in, Bohemia]
2                        [The, Redheaded, League]
3                         [A, Case, of, Identity]
4                [The, Boscombe, Valley, Mystery]
5                       [The, Five, Orange, Pips]
6             [The, Man, with, the, Twisted, Lip]
7      [The, Adventure, of, the, Blue, Carbuncle]
8       [The, Adventure, of, the, Speckled, Band]
9     [The, Adventure, of, the, Engineers, Thumb]
10     [The, Adventure, of, the, Noble, Bachelor]
11      [The, Adventure, of, the, Beryl, Coronet]
12     [The, Adventure, of, the, Copper, Beeches]
Name: legendry, dtype: object

## Stemming
- Bir kelimeyi kokune indirgemeyi ifade ediyor.

In [53]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [54]:
 d_mdf["legendry"].apply(lambda x: " ".join([st.stem(i) for i  in x.split() ]))

1                  A scandal in bohemia
2                     the redhead leagu
3                       A case of ident
4            the boscomb valley mysteri
5                    the five orang pip
6            the man with the twist lip
7     the adventur of the blue carbuncl
8       the adventur of the speckl band
9       the adventur of the engin thumb
10    the adventur of the nobl bachelor
11    the adventur of the beryl coronet
12     the adventur of the copper beech
Name: legendry, dtype: object

## Lemmatization

In [55]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\aozde\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [56]:
 d_mdf["legendry"].apply(lambda x: " ".join([Word(word).lemmatize() for word  in x.split() ]))

1                     A Scandal in Bohemia
2                     The Redheaded League
3                       A Case of Identity
4              The Boscombe Valley Mystery
5                     The Five Orange Pips
6             The Man with the Twisted Lip
7      The Adventure of the Blue Carbuncle
8       The Adventure of the Speckled Band
9     The Adventure of the Engineers Thumb
10     The Adventure of the Noble Bachelor
11      The Adventure of the Beryl Coronet
12     The Adventure of the Copper Beeches
Name: legendry, dtype: object

In [57]:
mdf["legendry"][0:5]

1        A Scandal in Bohemia! 01
2         The Red-headed League,2
3          A Case, of Identity 33
4    The Boscombe Valley Mystery4
5           The Five Orange Pips1
Name: legendry, dtype: object

In [58]:
d_mdf["legendry"][0:5]

1          A Scandal in Bohemia
2           The Redheaded League
3            A Case of Identity
4    The Boscombe Valley Mystery
5           The Five Orange Pips
Name: legendry, dtype: object

## NLP UygulamalarÄ±

### N-Gram

In [59]:
a = """Bu Ã¶rneÄi anlaÅÄ±labilmesi iÃ§in daha uzun bir metin Ã¼zerinden gÃ¶stereceÄim.
N-gram'lar birlikte kullanÄ±lan kelimelerin kombinasyolarÄ±nÄ± gÃ¶sterir"""

In [60]:
TextBlob(a).ngrams(3)

[WordList(['Bu', 'Ã¶rneÄi', 'anlaÅÄ±labilmesi']),
 WordList(['Ã¶rneÄi', 'anlaÅÄ±labilmesi', 'iÃ§in']),
 WordList(['anlaÅÄ±labilmesi', 'iÃ§in', 'daha']),
 WordList(['iÃ§in', 'daha', 'uzun']),
 WordList(['daha', 'uzun', 'bir']),
 WordList(['uzun', 'bir', 'metin']),
 WordList(['bir', 'metin', 'Ã¼zerinden']),
 WordList(['metin', 'Ã¼zerinden', 'gÃ¶stereceÄim']),
 WordList(['Ã¼zerinden', 'gÃ¶stereceÄim', "N-gram'lar"]),
 WordList(['gÃ¶stereceÄim', "N-gram'lar", 'birlikte']),
 WordList(["N-gram'lar", 'birlikte', 'kullanÄ±lan']),
 WordList(['birlikte', 'kullanÄ±lan', 'kelimelerin']),
 WordList(['kullanÄ±lan', 'kelimelerin', 'kombinasyolarÄ±nÄ±']),
 WordList(['kelimelerin', 'kombinasyolarÄ±nÄ±', 'gÃ¶sterir'])]

### Part of speech tagging (POS)

In [61]:
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\aozde\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [62]:
TextBlob(d_mdf["legendry"][2]).tags

[('The', 'DT'), ('Redheaded', 'NNP'), ('League', 'NNP')]

In [63]:
d_mdf["legendry"].apply(lambda x: TextBlob(x).tags)

1     [(A, DT), (Scandal, NNP), (in, IN), (Bohemia, ...
2          [(The, DT), (Redheaded, NNP), (League, NNP)]
3     [(A, DT), (Case, NNP), (of, IN), (Identity, NNP)]
4     [(The, DT), (Boscombe, NNP), (Valley, NNP), (M...
5     [(The, DT), (Five, NNP), (Orange, NNP), (Pips,...
6     [(The, DT), (Man, NN), (with, IN), (the, DT), ...
7     [(The, DT), (Adventure, NN), (of, IN), (the, D...
8     [(The, DT), (Adventure, NN), (of, IN), (the, D...
9     [(The, DT), (Adventure, NN), (of, IN), (the, D...
10    [(The, DT), (Adventure, NN), (of, IN), (the, D...
11    [(The, DT), (Adventure, NN), (of, IN), (the, D...
12    [(The, DT), (Adventure, NN), (of, IN), (the, D...
Name: legendry, dtype: object

### Chunking (shallow parsing)

In [64]:
pos = d_mdf["legendry"].apply(lambda x: TextBlob(x).tags)

In [65]:
pos

1     [(A, DT), (Scandal, NNP), (in, IN), (Bohemia, ...
2          [(The, DT), (Redheaded, NNP), (League, NNP)]
3     [(A, DT), (Case, NNP), (of, IN), (Identity, NNP)]
4     [(The, DT), (Boscombe, NNP), (Valley, NNP), (M...
5     [(The, DT), (Five, NNP), (Orange, NNP), (Pips,...
6     [(The, DT), (Man, NN), (with, IN), (the, DT), ...
7     [(The, DT), (Adventure, NN), (of, IN), (the, D...
8     [(The, DT), (Adventure, NN), (of, IN), (the, D...
9     [(The, DT), (Adventure, NN), (of, IN), (the, D...
10    [(The, DT), (Adventure, NN), (of, IN), (the, D...
11    [(The, DT), (Adventure, NN), (of, IN), (the, D...
12    [(The, DT), (Adventure, NN), (of, IN), (the, D...
Name: legendry, dtype: object

In [66]:
# new article
sentence = "R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science "

In [67]:
pos = TextBlob(sentence).tags

In [68]:
pos

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('old', 'JJ'),
 ('data', 'NNS'),
 ('scientists', 'NNS'),
 ('who', 'WP'),
 ('eager', 'VBP'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('efficent', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN')]

In [69]:
# gorsellestirme

reg_exp = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_exp)

In [70]:
results = rp.parse(pos)

In [71]:
results

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\aozde\\AppData\\Local\\Temp\\tmpda6yat1h.png'

Tree('S', [('R', 'NNP'), ('and', 'CC'), ('Python', 'NNP'), ('are', 'VBP'), ('useful', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), ('tools', 'NNS'), ('for', 'IN'), ('the', 'DT'), ('new', 'JJ'), ('or', 'CC'), ('old', 'JJ'), ('data', 'NNS'), ('scientists', 'NNS'), ('who', 'WP'), ('eager', 'VBP'), ('to', 'TO'), ('do', 'VB'), ('efficent', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')])])

In [72]:
print(results)

(S
  R/NNP
  and/CC
  Python/NNP
  are/VBP
  useful/JJ
  data/NNS
  (NP science/NN)
  tools/NNS
  for/IN
  the/DT
  new/JJ
  or/CC
  old/JJ
  data/NNS
  scientists/NNS
  who/WP
  eager/VBP
  to/TO
  do/VB
  efficent/JJ
  data/NNS
  (NP science/NN))

In [73]:
results.draw()

## Named Entity Recognition

In [74]:
from nltk import word_tokenize, pos_tag, ne_chunk
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\aozde\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\aozde\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [75]:
sentence = "Hadley is creative people who work for R Studio AND he attented conference at Newyork last year"
print(ne_chunk(pos_tag(word_tokenize(sentence))))

(S
  (GPE Hadley/NNP)
  is/VBZ
  creative/JJ
  people/NNS
  who/WP
  work/VBP
  for/IN
  (ORGANIZATION R/NNP Studio/NNP)
  AND/CC
  he/PRP
  attented/VBD
  conference/NN
  at/IN
  (ORGANIZATION Newyork/NNP)
  last/JJ
  year/NN)

## Matematiksel Ä°Ålemler ve Basit Ãzellik ÃÄ±karÄ±mÄ±

### Harf/Karakter SayÄ±sÄ±

In [76]:
o_df = d_mdf.copy()

In [77]:
o_df["legendry"]

1                    A Scandal in Bohemia
2                     The Redheaded League
3                      A Case of Identity
4              The Boscombe Valley Mystery
5                     The Five Orange Pips
6             The Man with the Twisted Lip
7      The Adventure of the Blue Carbuncle
8       The Adventure of the Speckled Band
9     The Adventure of the Engineers Thumb
10     The Adventure of the Noble Bachelor
11      The Adventure of the Beryl Coronet
12     The Adventure of the Copper Beeches
Name: legendry, dtype: object

In [78]:
o_df["legendry"].str.len()

1     21
2     20
3     19
4     27
5     20
6     28
7     35
8     34
9     36
10    35
11    34
12    35
Name: legendry, dtype: int64

In [79]:
o_df["alph_number"] = o_df["legendry"].str.len()

In [80]:
o_df

                                legendry  alph_number
1                  A Scandal in Bohemia            21
2                   The Redheaded League           20
3                    A Case of Identity            19
4            The Boscombe Valley Mystery           27
5                   The Five Orange Pips           20
6           The Man with the Twisted Lip           28
7    The Adventure of the Blue Carbuncle           35
8     The Adventure of the Speckled Band           34
9   The Adventure of the Engineers Thumb           36
10   The Adventure of the Noble Bachelor           35
11    The Adventure of the Beryl Coronet           34
12   The Adventure of the Copper Beeches           35

### Number of word

In [81]:
a = "scandal in a bohemia"

In [82]:
a.split()

['scandal', 'in', 'a', 'bohemia']

In [83]:
len(a.split())

4

In [84]:
o_df.iloc[0:1,0:1]

                legendry
1  A Scandal in Bohemia

In [85]:
o_df[0:1]

                legendry  alph_number
1  A Scandal in Bohemia            21

In [86]:
o_df["word_number"] = o_df["legendry"].apply(lambda x:len(str(x).split(" ")))

In [87]:
o_df

                                legendry  alph_number  word_number
1                  A Scandal in Bohemia            21            5
2                   The Redheaded League           20            3
3                    A Case of Identity            19            5
4            The Boscombe Valley Mystery           27            4
5                   The Five Orange Pips           20            4
6           The Man with the Twisted Lip           28            6
7    The Adventure of the Blue Carbuncle           35            6
8     The Adventure of the Speckled Band           34            6
9   The Adventure of the Engineers Thumb           36            6
10   The Adventure of the Noble Bachelor           35            6
11    The Adventure of the Beryl Coronet           34            6
12   The Adventure of the Copper Beeches           35            6

### Ãzel Karakterleri Yakalamak & SaydÄ±rmak

In [88]:
o_df["legendry"].apply(lambda x: len([x for x in x.split() 
                                       if x.startswith("Adventure")]))

1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     1
9     1
10    1
11    1
12    1
Name: legendry, dtype: int64

In [89]:
o_df["number of special _characters_"] = o_df["legendry"].apply(lambda x: len([x for x in x.split() 
                                       if x.startswith("Adventure")]))

In [90]:
o_df

,legendry,alph_number,word_number,number of special _characters_
1,A Scandal in Bohemia,21,5,0
2,The Redheaded League,20,3,0
3,A Case of Identity,19,5,0
4,The Boscombe Valley Mystery,27,4,0
5,The Five Orange Pips,20,4,0
6,The Man with the Twisted Lip,28,6,0
7,The Adventure of the Blue Carbuncle,35,6,1
8,The Adventure of the Speckled Band,34,6,1
9,The Adventure of the Engineers Thumb,36,6,1
10,The Adventure of the Noble Bachelor,35,6,1
11,The Adventure of the Beryl Coronet,34,6,1
12,The Adventure of the Copper Beeches,35,6,1

## SayÄ±larÄ± Yakalamak & SaydÄ±rmak

In [91]:
mdf["legendry"].apply(lambda x: len([x for x in x.split() 
                                       if x.isdigit()]))

1     1
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: legendry, dtype: int64

In [92]:
o_df["number_times"] = mdf["legendry"].apply(lambda x: len([x for x in x.split() 
                                       if x.isdigit()]))

In [93]:
o_df

,legendry,alph_number,word_number,number of special _characters_,number_times
1,A Scandal in Bohemia,21,5,0,1
2,The Redheaded League,20,3,0,0
3,A Case of Identity,19,5,0,1
4,The Boscombe Valley Mystery,27,4,0,0
5,The Five Orange Pips,20,4,0,0
6,The Man with the Twisted Lip,28,6,0,0
7,The Adventure of the Blue Carbuncle,35,6,1,0
8,The Adventure of the Speckled Band,34,6,1,0
9,The Adventure of the Engineers Thumb,36,6,1,0
10,The Adventure of the Noble Bachelor,35,6,1,0
11,The Adventure of the Beryl Coronet,34,6,1,0
12,The Adventure of the Copper Beeches,35,6,1,0