In [1]:
dict1={"one":1,"two":2,"three":3,"four":4}

In [2]:
type(dict1)

dict

In [3]:
dict2={}

In [4]:
type(dict2)

dict

In [5]:
dict2

{}

In [6]:
dict1

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [7]:
dict1["two"]

2

In [8]:
dict1["five"]

KeyError: 'five'

In [9]:
dict1["five"]=5

In [10]:
dict1

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [12]:
a={"one":[1,2,3,4],"two":[[1,2],[3,4],[5,6]],"three":15}

In [13]:
a["two"]

[[1, 2], [3, 4], [5, 6]]

In [14]:
a["two"][2]

[5, 6]

In [15]:
a={"numbers":{"one":1,"two":2,"three":3},
   "fruits":{"chery":"summer","orange":"winter","strawbery":"spring"}}

In [16]:
a["numbers"]

{'one': 1, 'two': 2, 'three': 3}

In [18]:
a["numbers"]["two"]

2

In [19]:
a["fruits"]

{'chery': 'summer', 'orange': 'winter', 'strawbery': 'spring'}

In [20]:
a["fruits"]["chery"]

'summer'

In [21]:
dict1

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [22]:
dict1.keys()

dict_keys(['one', 'two', 'three', 'four', 'five'])

In [23]:
dict1.values()

dict_values([1, 2, 3, 4, 5])

In [24]:
dict1.items()

dict_items([('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)])

In [26]:
for k,v in dict1.items():
    print(k,v)

one 1
two 2
three 3
four 4
five 5

In [2]:
# Sample dictionary of name and ages

my_dict ={'college':['Colombia','Stanford','Hunter','NYU'],
          'accepted':[True,False,True,True]}
# Convert dictionary to dataframe
my_dict

{'college': ['Colombia', 'Stanford', 'Hunter', 'NYU'],
 'accepted': [True, False, True, True]}

In [3]:
dataset = {
           "Departmant":["Bilişim","İnsan Kaynakları","Üretim","Üretim","Bilişim","İnsan Kaynakları"],
           "Employee": ["Mustafa","Jale","Kadir","Zeynep","Murat","Ahmet"],
           "Salary":[3000,3500,2500,4500,4000,2000]
            }

dataset

{'Departmant': ['Bilişim',
  'İnsan Kaynakları',
  'Üretim',
  'Üretim',
  'Bilişim',
  'İnsan Kaynakları'],
 'Employee': ['Mustafa', 'Jale', 'Kadir', 'Zeynep', 'Murat', 'Ahmet'],
 'Salary': [3000, 3500, 2500, 4500, 4000, 2000]}

In [ ]:
dataset1 = {
    "A" : ["A1","A2","A3","A4"],
    "B" : ["B1","B2","B3","A4"],
}
dataset2 = {
    "X" : ["X1","X2","X3"],
    "Y" : ["Y1","Y2","Y3"],
    
}

In [ ]:
dataset1 = {
    "A" : ["A1","A2","A3"],
    "B" : ["B1","B2","B3"],
    "anahtar" : ["K1","K2","K3"]
}

### Create a dictionary with a key "name" with value "Andrew" and a key "age" with value 25. Assign it to a variable called dict_1.

In [ ]:
dict_1 = {"name":"Andrew", "age":25}

### Create a new key "city" in dict_1 and assign the value "Seattle" to it.

In [ ]:
dict_1["city"] = "Seattle"

### Change the value of "city" to "New York" in dict_1.

In [ ]:
dict_1["city"] = "New York"

In [1]:


dict = {'year': ['one', 'one', 'one', 'two', 'two',
                         'two'],
                   'average': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'student_name': ["John", "Alex", "Teresa", "Amber", "Joe", "Mary"],
                    'age': ['18', '19', '20', '21', '22', '23']}
dict

{'year': ['one', 'one', 'one', 'two', 'two', 'two'],
 'average': ['A', 'B', 'C', 'A', 'B', 'C'],
 'student_name': ['John', 'Alex', 'Teresa', 'Amber', 'Joe', 'Mary'],
 'age': ['18', '19', '20', '21', '22', '23']}

In [2]:
import pandas as pd

df = pd.DataFrame({'year': ['one', 'one', 'one', 'two', 'two',
                         'two'],
                   'average': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'student_name': ["John", "Alex", "Teresa", "Amber", "Joe", "Mary"],
                    'age': ['18', '19', '20', '21', '22', '23']})
df.head(6)

  year average student_name age
0  one       A         John  18
1  one       B         Alex  19
2  one       C       Teresa  20
3  two       A        Amber  21
4  two       B          Joe  22
5  two       C         Mary  23

In [4]:
dict_one= {"Job Position":['Data Scientist', 'Professor', 'Business Analyst', 'Computer Engineer'],  
                   "Salary":[130, 110, 90, 100],  
                   "Start Date":[2017, 2019, 2020, 2019],  
                   "Performance Rating":[4, 3.5, 3.7, 4]}
dict_one

{'Job Position': ['Data Scientist',
  'Professor',
  'Business Analyst',
  'Computer Engineer'],
 'Salary': [130, 110, 90, 100],
 'Start Date': [2017, 2019, 2020, 2019],
 'Performance Rating': [4, 3.5, 3.7, 4]}

In [6]:
df2 = pd.DataFrame({"Job Position":['Data Scientist', 'Professor', 'Business Analyst', 'Computer Engineer'],  
                   "Salary":[130, 110, 90, 100],  
                   "Start Date":[2017, 2019, 2020, 2019],  
                   "Performance Rating":[4, 3.5, 3.7, 4]}) 
df.head()

  year average student_name age
0  one       A         John  18
1  one       B         Alex  19
2  one       C       Teresa  20
3  two       A        Amber  21
4  two       B          Joe  22